<nav class="flex flex-col bg-[#ECF1F4] justify-between h-full">
  <div class="flex flex-col">
    <div class="flex items-center justify-center py-[37px] gap-2 border-b border-black/8 px-5">
      <div class="flex items-center justify-center h-[53px] w-[53px] rounded-full border border-[#FD6F41]">
        <img [src]="'images/hr.svg'" class="h-[50px] w-[50px] rounded-full object-contain" />
      </div>
      <div class="flex flex-col gap-1 text-start">
        <div class="font-medium text-[14px] text-[#121212]">{{ user()?.username }}</div>
        <div class="text-[13px] text-[#737B8B]">{{ roleLabel() }}</div>
      </div>
    </div>
    <div class="flex flex-col gap-1 px-5">
      <div class="flex py-2 px-5 font-semibold text-[11px] text-[#232323] opacity-60">MENU</div>
      <div class="flex flex-col">
        @for (item of menus; track item.id) {
        <a [routerLink]="item.path" routerLinkActive="active" #rla="routerLinkActive"
          class="flex items-center gap-[14px] px-5 py-[10px] rounded-[20px] cursor-pointer hover:bg-gray-200 transition"
          [ngClass]="{
            'bg-white': rla.isActive,
            'opacity-60': !rla.isActive,
          }">
          <img class="h-[18px] w-[18px] object-contain" [src]="rla.isActive ? item.iconActive : item.icon" />

          <span class="text-[14px] text-[#232323]">{{ item.label }}</span>
        </a>
        }
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center py-[37px] gap-2 border-b border-black/8 px-5">
    <button (click)="logout()"
      class="px-5 py-2 bg-[#4F46E5] text-white rounded-[6px] text-[14px] font-medium hover:bg-[#4338CA] transition-colors shadow-sm">Logout</button>
  </div>
</nav>