<footer class="relative w-full overflow-hidden bg-cover bg-no-repeat">
  <div class="relative z-10 pt-[80px] pb-[40px] bg-white">
    <div class="max-w-[1200px] mx-auto flex flex-col gap-[80px]">
      <div class="flex items-start gap-14">
        <div class="flex flex-col gap-5 max-w-[400px]">
          <div class="flex items-start cursor-pointer" routerLink="/">
            <img [src]="'icons/logo.svg'" class="w-[133.45px] h-[45px]" />
          </div>
          <div class="text-[16px] text-[#8A8684]">
            Đồng hành cùng bạn trong mỗi buổi sáng với những hương vị cà phê nguyên bản và tinh túy
            nhất từ các vùng đất danh tiếng.
          </div>
        </div>
        <div class="flex flex-col items-start gap-5">
          <div class="flex cursor-pointer font-bold text-[18px] text-[#2B2B2B]">Cửa Hàng</div>
          <div class="font-medium text-[15px] text-[#8A8684] flex flex-col gap-4">
            <div>Cà Phê Hạt</div>
            <div>Cà Phê Xay</div>
            <div>Dụng Cụ Pha Chế</div>
            <div>Sản Phẩm Mới</div>
          </div>
        </div>
        <div class="flex flex-col items-start gap-5">
          <div class="flex cursor-pointer font-bold text-[18px] text-[#2B2B2B]">Hỗ Trợ</div>
          <div class="font-medium text-[15px] text-[#8A8684] flex flex-col gap-4">
            <div>Chính Sách Giao Hàng</div>
            <div>Đổi Trả & Hoàn Tiền</div>
            <div>Câu Hỏi Thường Gặp</div>
            <div>Liên Hệ</div>
          </div>
        </div>
        <div class="flex flex-col items-start gap-5 max-w-[300px]">
          <div class="flex cursor-pointer font-bold text-[18px] text-[#2B2B2B]">
            Đăng Ký Nhận Tin
          </div>
          <div class="flex flex-col gap-4">
            <div class="font-medium text-[15px] text-[#8A8684]">
              Nhận thông tin ưu đãi và kiến thức cà phê hữu ích hàng tuần
            </div>
            <div class="flex items-center justify-center">
              <div
                class="px-6 py-[16px] bg-[#FFF8F4] text-[14px] text-[#8A8684] rounded-l-[6px] flex-1"
              >
                Email cua ban...
              </div>
              <button
                class="px-6 py-[13.5px] bg-[#7B3F00] font-bold text-[14px] text-white rounded-r-[6px]"
              >
                Đăng Ký
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between pt-8 border-t border-black/8">
        <div class="text-[15px] text-[#8A8684]">© 2024 KhaCoffee. Tất cả quyền được bảo lưu.</div>
        <div class="flex items-center justify-center gap-4">
          <button class="flex items-center justify-center cursor-pointer">
            <img [src]="'icons/fb.svg'" class="w-[24px] h-[24px]" />
          </button>
          <button class="flex items-center justify-center cursor-pointer">
            <img [src]="'icons/ins.svg'" class="w-[24px] h-[24px]" />
          </button>
          <button class="flex items-center justify-center cursor-pointer">
            <img [src]="'icons/tw.svg'" class="w-[24px] h-[24px]" />
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
